<nav class="navbar navbar-default navbar-fixed-bottom nav-justified">
	<div class="container">
		<div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav nav-justified">
			<li>
				<a href="mailto:{{ site.email }}"><i class="glyphicon glyphicon-envelope"></i> {{ site.email }}</a>
			</li>
			{% if site.github_username %}
			<li>
				<a href="https://github.com/{{ site.github_username }}"><img src="/assets/github.svg" width="16px" height="16px"> {{ site.github_username }}</a>
			</li>
			{% endif %}
			{% if site.twitter_username %}
			<li>
			  <a href="https://twitter.com/{{ site.twitter_username }}"><img src="/assets/twitter.svg" width="16px" height="16px">{{ site.twitter_username }}</a>
			</li>
			{% endif %}
		  </ul>
		</div>
		<div class="col-md-12">
		  <p class="text-center">{{ site.description }}</p>
		</div>
	</div>
</nav>
