<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVTT3Z" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WVTT3Z');</script>
<a href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; left: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-orange-left.png"> </a>
<!-- End Google Tag Manager -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <a href="/" class="navbar-brand">{{ site.title }}</a>
	</div>
	<button class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="glyphicon glyphicon-chevron-down"/>
	</button>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog<span class="caret"></span></a>
				<ul class="dropdown-menu">
					{% for post in site.posts %}
					  <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<li>
				<a href="../help/">Help</a>
			</li>
		</ul>
	</div>
  </div>
</div>
