<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="{{ site.description }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"></link>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/united-bootstrap.min.css" | prepend: site.baseurl }}"></link>
    <link rel="stylesheet" href="{{ "/css/site.css" | prepend: site.baseurl }}"></link>
    <script src="{{ "/js/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
</head>
