<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVTT3Z" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WVTT3Z');</script>
<a class="hidden-xs hidden-sm hidden-md" href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; left: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-blue-left.png"> </a>
<!-- End Google Tag Manager -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
	<a href="/" class="navbar-brand navbar-brand-centered">{{ site.title }}</a>
	<button class="btn navbar-toggle" data-toggle="collapse" data-target="#header-bar">
		<span class="glyphicon glyphicon-chevron-down"/> Menu
	</button>
	<div class="navbar-collapse collapse" id="header-bar">
		<ul class="nav navbar-nav navbar-right">
			{% for availablepage in site.pages %}
				{% if availablepage.tags contains "show_in_header_menu" %}
				<li {% if page.url == availablepage.url %}class="disabled"{% endif %}>
					<a href="{{ availablepage.url }}">{{availablepage.title }}</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
  </div>
</div>
