<nav class="navbar navbar-default navbar-fixed-side navbar-fixed-side-left navbar-fill" role="navigation">
	{% include menu-header.html %}
	<a href="/" class="navbar-brand navbar-brand-centered"><span style="font-size: 180px;" class="glyphicon glyphicon-off"></span></a>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">{% for availablepage in site.pages %}{% if availablepage.tags contains "show_in_header_menu" %}
			<li {% if page.url == availablepage.url %}class="active"{% endif %}>
				<a href="{{ availablepage.url }}">{{ availablepage.title }}</a>
			</li>{% endif %}{% endfor %}
		</ul>
	</div>
</nav>
